


SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;


CREATE SCHEMA IF NOT EXISTS "public";


ALTER SCHEMA "public" OWNER TO "pg_database_owner";


COMMENT ON SCHEMA "public" IS 'standard public schema';



CREATE OR REPLACE FUNCTION "public"."create_appointment_slots"("p_hospital_id" "uuid", "p_start_date" "date", "p_end_date" "date", "p_start_time" time without time zone, "p_end_time" time without time zone, "p_interval_mins" integer DEFAULT 30) RETURNS integer
    LANGUAGE "plpgsql"
    AS $$
DECLARE
    v_count INT := 0;
    v_current_date DATE;
    v_current_time TIME;
BEGIN
    v_current_date := p_start_date;
    WHILE v_current_date <= p_end_date LOOP
        v_current_time := p_start_time;
        WHILE v_current_time < p_end_time LOOP
            INSERT INTO appointment_slots (hospital_id, slot_date, slot_time)
            VALUES (p_hospital_id, v_current_date, v_current_time)
            ON CONFLICT (hospital_id, slot_date, slot_time) DO NOTHING;
            v_count := v_count + 1;
            v_current_time := v_current_time + (p_interval_mins || ' minutes')::INTERVAL;
        END LOOP;
        v_current_date := v_current_date + 1;
    END LOOP;
    RETURN v_count;
END;
$$;


ALTER FUNCTION "public"."create_appointment_slots"("p_hospital_id" "uuid", "p_start_date" "date", "p_end_date" "date", "p_start_time" time without time zone, "p_end_time" time without time zone, "p_interval_mins" integer) OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."find_nearby_donors"("p_blood_type" "text", "p_location" "extensions"."geography", "p_max_distance_km" integer, "p_limit" integer DEFAULT 10) RETURNS TABLE("user_id" "uuid", "name" "text", "blood_type" "text", "phone" "text", "distance_km" numeric, "days_since_last_donation" integer, "total_donations" integer, "reward_points" integer, "currently_requesting" boolean, "role" "text")
    LANGUAGE "plpgsql"
    AS $$
BEGIN
    RETURN QUERY
    SELECT
        u.id AS user_id,
        u.name,
        u.blood_type,
        u.phone,
        ROUND((ST_Distance(u.location, p_location) / 1000)::numeric, 2) AS distance_km,
        COALESCE(CURRENT_DATE - u.last_donation_date, 999) AS days_since_last_donation,
        u.total_donations,
        u.reward_points,
        u.is_recipient AS currently_requesting,
        u.role
    FROM users u
    WHERE u.account_type = 'regular'
        AND u.role = 'donor'
        AND u.donor_status = 'available'
        AND u.blood_type = p_blood_type
        AND u.is_active = TRUE
        AND u.notification_enabled = TRUE
        AND u.location IS NOT NULL
        AND ST_DWithin(u.location, p_location, p_max_distance_km * 1000)
        AND (u.last_donation_date IS NULL OR CURRENT_DATE - u.last_donation_date >= 90)
    ORDER BY
        u.is_recipient ASC,
        ST_Distance(u.location, p_location) ASC
    LIMIT p_limit;
END;
$$;


ALTER FUNCTION "public"."find_nearby_donors"("p_blood_type" "text", "p_location" "extensions"."geography", "p_max_distance_km" integer, "p_limit" integer) OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."find_nearby_donors"("p_blood_type" character varying, "p_location" "extensions"."geography", "p_max_distance_km" integer DEFAULT 50, "p_limit" integer DEFAULT 100) RETURNS TABLE("user_id" "uuid", "name" "text", "blood_type" character varying, "phone" "text", "distance_km" numeric, "days_since_last_donation" integer, "total_donations" integer, "reward_points" integer, "currently_requesting" boolean, "user_role" "text")
    LANGUAGE "plpgsql"
    AS $$
BEGIN
    RETURN QUERY
    SELECT
        u.id AS user_id,
        u.name,
        u.blood_type,
        u.phone,
        ROUND((ST_Distance(u.location, p_location) / 1000)::numeric, 2) AS distance_km,
        COALESCE(CURRENT_DATE - u.last_donation_date, 999) AS days_since_last_donation,
        u.total_donations,
        u.reward_points,
        u.is_recipient AS currently_requesting,
        u.role AS user_role            
    FROM users u
    WHERE u.account_type = 'regular'
        AND u.role = 'donor'           
        AND u.donor_status = 'available'
        AND u.blood_type = p_blood_type
        AND u.is_active = TRUE
        AND u.notification_enabled = TRUE
        AND u.location IS NOT NULL
        AND ST_DWithin(u.location, p_location, p_max_distance_km * 1000)
        AND (u.last_donation_date IS NULL OR CURRENT_DATE - u.last_donation_date >= 90)
    ORDER BY
        u.is_recipient ASC,
        ST_Distance(u.location, p_location) ASC
    LIMIT p_limit;
END;
$$;


ALTER FUNCTION "public"."find_nearby_donors"("p_blood_type" character varying, "p_location" "extensions"."geography", "p_max_distance_km" integer, "p_limit" integer) OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."generate_short_request_id"("hospital_code" "text") RETURNS "text"
    LANGUAGE "plpgsql"
    AS $$
DECLARE
    v_date_part TEXT;
    v_random_part TEXT;
    v_short_id TEXT;  
    v_collision_check INTEGER;
BEGIN
    v_date_part := TO_CHAR(CURRENT_DATE, 'YYYYMMDD');
    
    LOOP
        v_random_part := LPAD(FLOOR(RANDOM() * 10000)::TEXT, 4, '0');
        v_short_id := hospital_code || '-' || v_date_part || '-' || v_random_part;
        
        SELECT COUNT(*) INTO v_collision_check
        FROM blood_requests
        WHERE short_id = v_short_id;
        
        EXIT WHEN v_collision_check = 0;
    END LOOP;
    
    RETURN v_short_id;
END;
$$;


ALTER FUNCTION "public"."generate_short_request_id"("hospital_code" "text") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."increment_hospital_inventory"("p_hospital_id" "uuid", "p_blood_type" character varying, "p_units" integer) RETURNS "void"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
    INSERT INTO hospital_inventory (hospital_id, blood_type, units_available)
    VALUES (p_hospital_id, p_blood_type, p_units)
    ON CONFLICT (hospital_id, blood_type)
    DO UPDATE SET
        units_available = hospital_inventory.units_available + p_units,
        last_updated = NOW();
END;
$$;


ALTER FUNCTION "public"."increment_hospital_inventory"("p_hospital_id" "uuid", "p_blood_type" character varying, "p_units" integer) OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."is_hospital_email"("p_email" "text") RETURNS boolean
    LANGUAGE "plpgsql"
    AS $$
DECLARE
    email_domain TEXT;
    domain_count INTEGER;
BEGIN
    -- Extract domain from email
    email_domain := SPLIT_PART(p_email, '@', 2);
    
    -- Check if domain exists in whitelist
    SELECT COUNT(*) INTO domain_count
    FROM hospital_domains
    WHERE domain = email_domain AND active = TRUE;
    
    RETURN domain_count > 0;
END;
$$;


ALTER FUNCTION "public"."is_hospital_email"("p_email" "text") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."update_donor_status"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
    IF NEW.account_type = 'regular' AND NEW.role = 'donor' THEN
        IF NEW.last_donation_date IS NOT NULL THEN
            IF CURRENT_DATE - NEW.last_donation_date < 90 THEN
                NEW.donor_status := 'on_cooldown';
            ELSE
                NEW.donor_status := 'available';
            END IF;
        ELSE
            NEW.donor_status := 'available';
        END IF;
    END IF;
    RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."update_donor_status"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."update_slot_count"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
    IF TG_OP = 'INSERT' AND NEW.status = 'scheduled' THEN
        UPDATE appointment_slots 
        SET current_count = current_count + 1
        WHERE id = NEW.slot_id;
    END IF;
    
    IF OLD.status = 'scheduled' AND NEW.status = 'cancelled' THEN
        UPDATE appointment_slots 
        SET current_count = current_count - 1
        WHERE id = NEW.slot_id;
    END IF;
    
    IF OLD.status = 'scheduled' AND NEW.status = 'completed' THEN
        UPDATE appointment_slots 
        SET current_count = current_count - 1
        WHERE id = NEW.slot_id;
    END IF;
    
    RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."update_slot_count"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."update_updated_at_column"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
    NEW.updated_at = NOW();
    RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."update_updated_at_column"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."verify_request_donation"("p_request_id" "uuid", "p_hospital_user_id" "uuid", "p_staff_name" "text" DEFAULT NULL::"text") RETURNS TABLE("success" boolean, "error_message" "text")
    LANGUAGE "plpgsql"
    AS $$
DECLARE
    v_status TEXT;
    v_hospital UUID;
    v_requester UUID;
    v_donor UUID;
    v_blood VARCHAR(3);
    v_units INT;
BEGIN
    SELECT br.status, br.hospital_id, br.requester_id, br.blood_type, br.units_needed
    INTO v_status, v_hospital, v_requester, v_blood, v_units
    FROM blood_requests br
    WHERE br.id = p_request_id
    FOR UPDATE;

    IF NOT FOUND THEN
        RETURN QUERY SELECT FALSE, 'Request not found'::TEXT;
        RETURN;
    END IF;

    IF v_hospital IS DISTINCT FROM p_hospital_user_id THEN
        RETURN QUERY SELECT FALSE, 'This request belongs to another hospital'::TEXT;
        RETURN;
    END IF;

    IF v_status <> 'in_progress' THEN
        RETURN QUERY SELECT FALSE, format('Request cannot be verified while status is %s', v_status)::TEXT;
        RETURN;
    END IF;

    SELECT dr.donor_id INTO v_donor
    FROM donor_responses dr
    WHERE dr.request_id = p_request_id AND dr.response_type = 'accepted'
    LIMIT 1;

    IF v_donor IS NULL THEN
        RETURN QUERY SELECT FALSE, 'No donor has accepted this request yet'::TEXT;
        RETURN;
    END IF;

    UPDATE blood_requests SET
        status = 'fulfilled',
        fulfilled_at = NOW(),
        units_fulfilled = v_units,
        updated_at = NOW(),
        version = version + 1
    WHERE id = p_request_id;

    INSERT INTO donations (
        request_id, donor_id, verified_by_hospital_id, verified_by_hospital_staff,
        units_donated, donation_type
    ) VALUES (
        p_request_id, v_donor, p_hospital_user_id, p_staff_name,
        1, 'whole_blood'
    );

    INSERT INTO request_audit_log (request_id, event_type, detail, actor_user_id)
    VALUES (
        p_request_id,
        'verified_closed',
        'Hospital verified donation; 1 unit logged.',
        p_hospital_user_id
    );

    INSERT INTO inventory_delivery_log (hospital_id, blood_type, units, request_id, note)
    VALUES (
        p_hospital_user_id, v_blood, 1, p_request_id,
        '1 unit delivered'
    );

    PERFORM increment_hospital_inventory(p_hospital_user_id, v_blood, 1);

    UPDATE users SET
        is_recipient = FALSE,
        updated_at = NOW()
    WHERE id = v_requester;

    UPDATE users SET
        total_donations = COALESCE(total_donations, 0) + 1,
        last_donation_date = CURRENT_DATE,
        reward_points = COALESCE(reward_points, 0) + 10,
        updated_at = NOW()
    WHERE id = v_donor;

    RETURN QUERY SELECT TRUE, NULL::TEXT;
END;
$$;


ALTER FUNCTION "public"."verify_request_donation"("p_request_id" "uuid", "p_hospital_user_id" "uuid", "p_staff_name" "text") OWNER TO "postgres";


CREATE OR REPLACE VIEW "public"."active_requests_summary" AS
SELECT
    NULL::"uuid" AS "id",
    NULL::character varying(20) AS "short_id",
    NULL::character varying(3) AS "blood_type",
    NULL::"text" AS "urgency_level",
    NULL::"text" AS "hospital_name",
    NULL::integer AS "units_needed",
    NULL::integer AS "units_fulfilled",
    NULL::timestamp without time zone AS "created_at",
    NULL::timestamp without time zone AS "expires_at",
    NULL::bigint AS "accepted_donors",
    NULL::bigint AS "interested_donors";


ALTER VIEW "public"."active_requests_summary" OWNER TO "postgres";

SET default_tablespace = '';

SET default_table_access_method = "heap";


CREATE TABLE IF NOT EXISTS "public"."appointment_slots" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "hospital_id" "uuid",
    "slot_date" "date" NOT NULL,
    "slot_time" time without time zone NOT NULL,
    "max_donors" integer DEFAULT 5,
    "current_count" integer DEFAULT 0,
    "created_at" timestamp without time zone DEFAULT "now"()
);


ALTER TABLE "public"."appointment_slots" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."appointments" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "donor_id" "uuid",
    "slot_id" "uuid",
    "blood_type" character varying(3),
    "status" character varying(20) DEFAULT 'scheduled'::character varying,
    "notes" "text",
    "created_at" timestamp without time zone DEFAULT "now"(),
    CONSTRAINT "appointments_status_check" CHECK ((("status")::"text" = ANY ((ARRAY['scheduled'::character varying, 'completed'::character varying, 'cancelled'::character varying])::"text"[])))
);


ALTER TABLE "public"."appointments" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."badges" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "badge_code" character varying(50) NOT NULL,
    "badge_name" "text" NOT NULL,
    "description" "text",
    "icon_url" "text",
    "requirement_type" "text",
    "requirement_value" integer,
    "points_value" integer DEFAULT 0,
    "created_at" timestamp without time zone DEFAULT "now"(),
    CONSTRAINT "badges_requirement_type_check" CHECK (("requirement_type" = ANY (ARRAY['donation_count'::"text", 'consecutive_months'::"text", 'critical_response'::"text", 'rare_blood'::"text"])))
);


ALTER TABLE "public"."badges" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."blood_requests" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "short_id" character varying(20) NOT NULL,
    "requester_id" "uuid" NOT NULL,
    "blood_type" character varying(3) NOT NULL,
    "units_needed" integer NOT NULL,
    "units_fulfilled" integer DEFAULT 0,
    "urgency_level" "text" NOT NULL,
    "hospital_name" "text" NOT NULL,
    "hospital_id" "uuid",
    "hospital_location" "extensions"."geography"(Point,4326) NOT NULL,
    "requester_location" "extensions"."geography"(Point,4326),
    "description" "text",
    "patient_name" "text",
    "contact_phone" "text",
    "status" "text" DEFAULT 'active'::"text" NOT NULL,
    "nearby_donors_count" integer DEFAULT 0,
    "total_eligible_count" integer DEFAULT 0,
    "notified_donors_count" integer DEFAULT 0,
    "created_at" timestamp without time zone DEFAULT "now"(),
    "updated_at" timestamp without time zone DEFAULT "now"(),
    "expires_at" timestamp without time zone NOT NULL,
    "fulfilled_at" timestamp without time zone,
    "version" integer DEFAULT 1,
    CONSTRAINT "blood_requests_blood_type_check" CHECK ((("blood_type")::"text" = ANY ((ARRAY['A+'::character varying, 'A-'::character varying, 'B+'::character varying, 'B-'::character varying, 'O+'::character varying, 'O-'::character varying, 'AB+'::character varying, 'AB-'::character varying])::"text"[]))),
    CONSTRAINT "blood_requests_status_check" CHECK (("status" = ANY (ARRAY['active'::"text", 'in_progress'::"text", 'fulfilled'::"text", 'cancelled'::"text", 'expired'::"text"]))),
    CONSTRAINT "blood_requests_units_fulfilled_check" CHECK (("units_fulfilled" >= 0)),
    CONSTRAINT "blood_requests_units_needed_check" CHECK (("units_needed" > 0)),
    CONSTRAINT "blood_requests_urgency_level_check" CHECK (("urgency_level" = ANY (ARRAY['routine'::"text", 'urgent'::"text", 'critical'::"text"])))
);


ALTER TABLE "public"."blood_requests" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."donations" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "request_id" "uuid" NOT NULL,
    "donor_id" "uuid" NOT NULL,
    "verified_by_hospital_id" "uuid" NOT NULL,
    "verified_by_hospital_staff" "text",
    "units_donated" integer NOT NULL,
    "donation_type" "text",
    "points_awarded" integer DEFAULT 10,
    "badge_earned" "text",
    "donation_date" timestamp without time zone DEFAULT "now"(),
    "created_at" timestamp without time zone DEFAULT "now"(),
    CONSTRAINT "donations_donation_type_check" CHECK (("donation_type" = ANY (ARRAY['whole_blood'::"text", 'platelets'::"text", 'plasma'::"text"]))),
    CONSTRAINT "donations_units_donated_check" CHECK (("units_donated" > 0))
);


ALTER TABLE "public"."donations" OWNER TO "postgres";


CREATE OR REPLACE VIEW "public"."donor_leaderboard" AS
SELECT
    NULL::"uuid" AS "id",
    NULL::"text" AS "name",
    NULL::character varying(3) AS "blood_type",
    NULL::integer AS "total_donations",
    NULL::integer AS "reward_points",
    NULL::"text" AS "donor_status",
    NULL::bigint AS "badges_earned",
    NULL::bigint AS "rank";


ALTER VIEW "public"."donor_leaderboard" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."donor_responses" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "request_id" "uuid" NOT NULL,
    "donor_id" "uuid" NOT NULL,
    "response_type" "text" NOT NULL,
    "distance_km" numeric(6,2),
    "estimated_arrival" timestamp without time zone,
    "responded_at" timestamp without time zone DEFAULT "now"(),
    "updated_at" timestamp without time zone DEFAULT "now"(),
    CONSTRAINT "donor_responses_response_type_check" CHECK (("response_type" = ANY (ARRAY['accepted'::"text", 'declined'::"text", 'interested'::"text", 'en_route'::"text", 'arrived'::"text"])))
);


ALTER TABLE "public"."donor_responses" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."hospital_domains" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "domain" "text" NOT NULL,
    "hospital_name" "text",
    "contact_email" "text",
    "verified_at" timestamp without time zone DEFAULT "now"(),
    "verified_by" "uuid",
    "active" boolean DEFAULT true,
    "active_status" boolean DEFAULT true,
    "active_reason" "text"
);


ALTER TABLE "public"."hospital_domains" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."hospital_inventory" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "hospital_id" "uuid" NOT NULL,
    "blood_type" character varying(3) NOT NULL,
    "units_available" integer DEFAULT 0,
    "units_reserved" integer DEFAULT 0,
    "minimum_threshold" integer DEFAULT 5,
    "last_updated" timestamp without time zone DEFAULT "now"(),
    "updated_by" "uuid",
    CONSTRAINT "hospital_inventory_blood_type_check" CHECK ((("blood_type")::"text" = ANY ((ARRAY['A+'::character varying, 'A-'::character varying, 'B+'::character varying, 'B-'::character varying, 'O+'::character varying, 'O-'::character varying, 'AB+'::character varying, 'AB-'::character varying])::"text"[]))),
    CONSTRAINT "hospital_inventory_units_available_check" CHECK (("units_available" >= 0)),
    CONSTRAINT "hospital_inventory_units_reserved_check" CHECK (("units_reserved" >= 0))
);


ALTER TABLE "public"."hospital_inventory" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."users" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "firebase_uid" "text" NOT NULL,
    "email" "text" NOT NULL,
    "name" "text" NOT NULL,
    "phone" "text",
    "blood_type" character varying(3),
    "location" "extensions"."geography"(Point,4326),
    "account_type" "text" DEFAULT 'regular'::"text" NOT NULL,
    "is_recipient" boolean DEFAULT false,
    "last_donation_date" "date",
    "total_donations" integer DEFAULT 0,
    "reward_points" integer DEFAULT 0,
    "donor_status" "text" DEFAULT 'available'::"text",
    "hospital_name" "text",
    "hospital_code" character varying(10),
    "hospital_verified" boolean DEFAULT false,
    "hospital_approval_date" timestamp without time zone,
    "approved_by" "uuid",
    "active_mode" "text" DEFAULT 'donor_view'::"text",
    "notification_enabled" boolean DEFAULT true,
    "notification_radius_km" integer DEFAULT 25,
    "created_at" timestamp without time zone DEFAULT "now"(),
    "updated_at" timestamp without time zone DEFAULT "now"(),
    "is_active" boolean DEFAULT true,
    "fcm_token" "text",
    "city_area" "text",
    "role" "text" DEFAULT 'donor'::"text" NOT NULL,
    CONSTRAINT "hospital_fields_required" CHECK (((("account_type" = 'hospital'::"text") AND ("hospital_name" IS NOT NULL) AND ("hospital_code" IS NOT NULL)) OR ("account_type" = 'regular'::"text"))),
    CONSTRAINT "hospital_mode_required" CHECK (((("account_type" = 'hospital'::"text") AND ("active_mode" = 'hospital_view'::"text")) OR ("account_type" = 'regular'::"text"))),
    CONSTRAINT "users_account_type_check" CHECK (("account_type" = ANY (ARRAY['regular'::"text", 'hospital'::"text"]))),
    CONSTRAINT "users_active_mode_check" CHECK (("active_mode" = ANY (ARRAY['donor_view'::"text", 'recipient_view'::"text", 'hospital_view'::"text"]))),
    CONSTRAINT "users_blood_type_check" CHECK ((("blood_type")::"text" = ANY ((ARRAY['A+'::character varying, 'A-'::character varying, 'B+'::character varying, 'B-'::character varying, 'O+'::character varying, 'O-'::character varying, 'AB+'::character varying, 'AB-'::character varying])::"text"[]))),
    CONSTRAINT "users_donor_status_check" CHECK (("donor_status" = ANY (ARRAY['available'::"text", 'unavailable'::"text", 'on_cooldown'::"text"]))),
    CONSTRAINT "users_role_check" CHECK (("role" = ANY (ARRAY['donor'::"text", 'recipient'::"text", 'hospital'::"text"])))
);


ALTER TABLE "public"."users" OWNER TO "postgres";


CREATE OR REPLACE VIEW "public"."hospital_inventory_status" AS
 SELECT "u"."name" AS "hospital_name",
    "hi"."blood_type",
    "hi"."units_available",
    "hi"."minimum_threshold",
        CASE
            WHEN ("hi"."units_available" < "hi"."minimum_threshold") THEN 'LOW'::"text"
            WHEN ("hi"."units_available" < ("hi"."minimum_threshold" * 2)) THEN 'MEDIUM'::"text"
            ELSE 'ADEQUATE'::"text"
        END AS "stock_status",
    "hi"."last_updated"
   FROM ("public"."hospital_inventory" "hi"
     JOIN "public"."users" "u" ON (("hi"."hospital_id" = "u"."id")))
  WHERE ("u"."account_type" = 'hospital'::"text");


ALTER VIEW "public"."hospital_inventory_status" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."inventory_delivery_log" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "hospital_id" "uuid" NOT NULL,
    "blood_type" character varying(3) NOT NULL,
    "units" integer DEFAULT 1 NOT NULL,
    "request_id" "uuid",
    "note" "text",
    "created_at" timestamp without time zone DEFAULT "now"(),
    CONSTRAINT "inventory_delivery_log_units_check" CHECK (("units" > 0))
);


ALTER TABLE "public"."inventory_delivery_log" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."medical_records" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "hemoglobin" numeric(4,2),
    "blood_pressure_systolic" integer,
    "blood_pressure_diastolic" integer,
    "weight_kg" numeric(5,2),
    "report_date" "date" NOT NULL,
    "report_image_url" "text",
    "lab_name" "text",
    "ai_confidence" numeric(3,2),
    "extraction_method" "text",
    "eligibility_status" "text" NOT NULL,
    "ineligibility_reasons" "text"[],
    "verified_by_hospital" boolean DEFAULT false,
    "verified_by_hospital_id" "uuid",
    "verification_notes" "text",
    "created_at" timestamp without time zone DEFAULT "now"(),
    "updated_at" timestamp without time zone DEFAULT "now"(),
    "expires_at" timestamp without time zone,
    CONSTRAINT "medical_records_ai_confidence_check" CHECK ((("ai_confidence" >= (0)::numeric) AND ("ai_confidence" <= (1)::numeric))),
    CONSTRAINT "medical_records_eligibility_status_check" CHECK (("eligibility_status" = ANY (ARRAY['eligible'::"text", 'not_eligible'::"text", 'manual_review_required'::"text"]))),
    CONSTRAINT "medical_records_extraction_method_check" CHECK (("extraction_method" = ANY (ARRAY['ai_vit'::"text", 'manual_entry'::"text", 'hospital_verified'::"text"])))
);


ALTER TABLE "public"."medical_records" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."notifications" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "request_id" "uuid",
    "notification_type" "text" NOT NULL,
    "title" "text" NOT NULL,
    "body" "text" NOT NULL,
    "sent_at" timestamp without time zone DEFAULT "now"(),
    "delivered_at" timestamp without time zone,
    "read_at" timestamp without time zone,
    "clicked_at" timestamp without time zone,
    "fcm_token" "text",
    "fcm_message_id" "text",
    "delivery_status" "text",
    CONSTRAINT "notifications_delivery_status_check" CHECK (("delivery_status" = ANY (ARRAY['sent'::"text", 'delivered'::"text", 'failed'::"text", 'clicked'::"text"]))),
    CONSTRAINT "notifications_notification_type_check" CHECK (("notification_type" = ANY (ARRAY['request_alert'::"text", 'fulfillment_update'::"text", 'reward_earned'::"text", 'system_message'::"text"])))
);


ALTER TABLE "public"."notifications" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."request_audit_log" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "request_id" "uuid" NOT NULL,
    "event_type" "text" NOT NULL,
    "detail" "text",
    "actor_user_id" "uuid",
    "created_at" timestamp without time zone DEFAULT "now"()
);


ALTER TABLE "public"."request_audit_log" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."user_badges" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "badge_id" "uuid" NOT NULL,
    "earned_at" timestamp without time zone DEFAULT "now"()
);


ALTER TABLE "public"."user_badges" OWNER TO "postgres";


ALTER TABLE ONLY "public"."appointment_slots"
    ADD CONSTRAINT "appointment_slots_hospital_id_slot_date_slot_time_key" UNIQUE ("hospital_id", "slot_date", "slot_time");



ALTER TABLE ONLY "public"."appointment_slots"
    ADD CONSTRAINT "appointment_slots_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."appointments"
    ADD CONSTRAINT "appointments_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."badges"
    ADD CONSTRAINT "badges_badge_code_key" UNIQUE ("badge_code");



ALTER TABLE ONLY "public"."badges"
    ADD CONSTRAINT "badges_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."blood_requests"
    ADD CONSTRAINT "blood_requests_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."blood_requests"
    ADD CONSTRAINT "blood_requests_short_id_key" UNIQUE ("short_id");



ALTER TABLE ONLY "public"."donations"
    ADD CONSTRAINT "donations_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."donor_responses"
    ADD CONSTRAINT "donor_responses_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."donor_responses"
    ADD CONSTRAINT "donor_responses_request_id_donor_id_key" UNIQUE ("request_id", "donor_id");



ALTER TABLE ONLY "public"."hospital_domains"
    ADD CONSTRAINT "hospital_domains_domain_key" UNIQUE ("domain");



ALTER TABLE ONLY "public"."hospital_domains"
    ADD CONSTRAINT "hospital_domains_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."hospital_inventory"
    ADD CONSTRAINT "hospital_inventory_hospital_id_blood_type_key" UNIQUE ("hospital_id", "blood_type");



ALTER TABLE ONLY "public"."hospital_inventory"
    ADD CONSTRAINT "hospital_inventory_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."inventory_delivery_log"
    ADD CONSTRAINT "inventory_delivery_log_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."medical_records"
    ADD CONSTRAINT "medical_records_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."notifications"
    ADD CONSTRAINT "notifications_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."request_audit_log"
    ADD CONSTRAINT "request_audit_log_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."user_badges"
    ADD CONSTRAINT "user_badges_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."user_badges"
    ADD CONSTRAINT "user_badges_user_id_badge_id_key" UNIQUE ("user_id", "badge_id");



ALTER TABLE ONLY "public"."users"
    ADD CONSTRAINT "users_email_key" UNIQUE ("email");



ALTER TABLE ONLY "public"."users"
    ADD CONSTRAINT "users_firebase_uid_key" UNIQUE ("firebase_uid");



ALTER TABLE ONLY "public"."users"
    ADD CONSTRAINT "users_hospital_code_key" UNIQUE ("hospital_code");



ALTER TABLE ONLY "public"."users"
    ADD CONSTRAINT "users_pkey" PRIMARY KEY ("id");



CREATE UNIQUE INDEX "donor_responses_one_accepted_per_request" ON "public"."donor_responses" USING "btree" ("request_id") WHERE ("response_type" = 'accepted'::"text");



CREATE INDEX "idx_donations_date" ON "public"."donations" USING "btree" ("donation_date" DESC);



CREATE INDEX "idx_donations_donor_id" ON "public"."donations" USING "btree" ("donor_id");



CREATE INDEX "idx_donations_request_id" ON "public"."donations" USING "btree" ("request_id");



CREATE INDEX "idx_donations_verified_by" ON "public"."donations" USING "btree" ("verified_by_hospital_id");



CREATE INDEX "idx_donor_responses_donor_id" ON "public"."donor_responses" USING "btree" ("donor_id");



CREATE INDEX "idx_donor_responses_request_id" ON "public"."donor_responses" USING "btree" ("request_id");



CREATE INDEX "idx_donor_responses_type" ON "public"."donor_responses" USING "btree" ("response_type");



CREATE INDEX "idx_inventory_blood_type" ON "public"."hospital_inventory" USING "btree" ("blood_type");



CREATE INDEX "idx_inventory_delivery_hospital" ON "public"."inventory_delivery_log" USING "btree" ("hospital_id");



CREATE INDEX "idx_inventory_hospital_id" ON "public"."hospital_inventory" USING "btree" ("hospital_id");



CREATE INDEX "idx_inventory_low_stock" ON "public"."hospital_inventory" USING "btree" ("units_available") WHERE ("units_available" < "minimum_threshold");



CREATE INDEX "idx_medical_records_eligibility" ON "public"."medical_records" USING "btree" ("eligibility_status");



CREATE INDEX "idx_medical_records_expires_at" ON "public"."medical_records" USING "btree" ("expires_at");



CREATE INDEX "idx_medical_records_report_date" ON "public"."medical_records" USING "btree" ("report_date" DESC);



CREATE INDEX "idx_medical_records_user_id" ON "public"."medical_records" USING "btree" ("user_id");



CREATE INDEX "idx_notifications_request_id" ON "public"."notifications" USING "btree" ("request_id");



CREATE INDEX "idx_notifications_sent_at" ON "public"."notifications" USING "btree" ("sent_at" DESC);



CREATE INDEX "idx_notifications_user_id" ON "public"."notifications" USING "btree" ("user_id");



CREATE UNIQUE INDEX "idx_one_active_request_per_requester" ON "public"."blood_requests" USING "btree" ("requester_id") WHERE ("status" = ANY (ARRAY['active'::"text", 'in_progress'::"text"]));



CREATE INDEX "idx_request_audit_request_id" ON "public"."request_audit_log" USING "btree" ("request_id");



CREATE INDEX "idx_requests_active" ON "public"."blood_requests" USING "btree" ("status") WHERE ("status" = 'active'::"text");



CREATE INDEX "idx_requests_blood_type" ON "public"."blood_requests" USING "btree" ("blood_type");



CREATE INDEX "idx_requests_created_at" ON "public"."blood_requests" USING "btree" ("created_at" DESC);



CREATE INDEX "idx_requests_location" ON "public"."blood_requests" USING "gist" ("hospital_location");



CREATE INDEX "idx_requests_requester_id" ON "public"."blood_requests" USING "btree" ("requester_id");



CREATE INDEX "idx_requests_requester_location" ON "public"."blood_requests" USING "gist" ("requester_location");



CREATE INDEX "idx_requests_short_id" ON "public"."blood_requests" USING "btree" ("short_id");



CREATE INDEX "idx_requests_status" ON "public"."blood_requests" USING "btree" ("status");



CREATE INDEX "idx_requests_urgency" ON "public"."blood_requests" USING "btree" ("urgency_level");



CREATE INDEX "idx_user_badges_earned_at" ON "public"."user_badges" USING "btree" ("earned_at" DESC);



CREATE INDEX "idx_user_badges_user_id" ON "public"."user_badges" USING "btree" ("user_id");



CREATE INDEX "idx_users_account_type" ON "public"."users" USING "btree" ("account_type");



CREATE INDEX "idx_users_blood_type" ON "public"."users" USING "btree" ("blood_type");



CREATE INDEX "idx_users_donor_status" ON "public"."users" USING "btree" ("donor_status") WHERE ("donor_status" = 'available'::"text");



CREATE INDEX "idx_users_fcm_token" ON "public"."users" USING "btree" ("fcm_token") WHERE ("fcm_token" IS NOT NULL);



CREATE INDEX "idx_users_firebase_uid" ON "public"."users" USING "btree" ("firebase_uid");



CREATE INDEX "idx_users_hospital_code" ON "public"."users" USING "btree" ("hospital_code") WHERE ("hospital_code" IS NOT NULL);



CREATE INDEX "idx_users_location" ON "public"."users" USING "gist" ("location");



CREATE OR REPLACE VIEW "public"."active_requests_summary" AS
 SELECT "br"."id",
    "br"."short_id",
    "br"."blood_type",
    "br"."urgency_level",
    "br"."hospital_name",
    "br"."units_needed",
    "br"."units_fulfilled",
    "br"."created_at",
    "br"."expires_at",
    "count"(DISTINCT "dr"."donor_id") FILTER (WHERE ("dr"."response_type" = 'accepted'::"text")) AS "accepted_donors",
    "count"(DISTINCT "dr"."donor_id") FILTER (WHERE ("dr"."response_type" = 'interested'::"text")) AS "interested_donors"
   FROM ("public"."blood_requests" "br"
     LEFT JOIN "public"."donor_responses" "dr" ON (("br"."id" = "dr"."request_id")))
  WHERE ("br"."status" = 'active'::"text")
  GROUP BY "br"."id";



CREATE OR REPLACE VIEW "public"."donor_leaderboard" AS
 SELECT "u"."id",
    "u"."name",
    "u"."blood_type",
    "u"."total_donations",
    "u"."reward_points",
    "u"."donor_status",
    "count"("ub"."badge_id") AS "badges_earned",
    "rank"() OVER (ORDER BY "u"."reward_points" DESC) AS "rank"
   FROM ("public"."users" "u"
     LEFT JOIN "public"."user_badges" "ub" ON (("u"."id" = "ub"."user_id")))
  WHERE (("u"."account_type" = 'regular'::"text") AND ("u"."role" = 'donor'::"text"))
  GROUP BY "u"."id"
  ORDER BY "u"."reward_points" DESC;



CREATE OR REPLACE TRIGGER "auto_update_donor_status" BEFORE INSERT OR UPDATE OF "last_donation_date", "role" ON "public"."users" FOR EACH ROW EXECUTE FUNCTION "public"."update_donor_status"();



CREATE OR REPLACE TRIGGER "sync_slot_count" AFTER INSERT OR UPDATE ON "public"."appointments" FOR EACH ROW EXECUTE FUNCTION "public"."update_slot_count"();



CREATE OR REPLACE TRIGGER "update_medical_records_updated_at" BEFORE UPDATE ON "public"."medical_records" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_requests_updated_at" BEFORE UPDATE ON "public"."blood_requests" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_users_updated_at" BEFORE UPDATE ON "public"."users" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



ALTER TABLE ONLY "public"."appointment_slots"
    ADD CONSTRAINT "appointment_slots_hospital_id_fkey" FOREIGN KEY ("hospital_id") REFERENCES "public"."users"("id");



ALTER TABLE ONLY "public"."appointments"
    ADD CONSTRAINT "appointments_donor_id_fkey" FOREIGN KEY ("donor_id") REFERENCES "public"."users"("id");



ALTER TABLE ONLY "public"."appointments"
    ADD CONSTRAINT "appointments_slot_id_fkey" FOREIGN KEY ("slot_id") REFERENCES "public"."appointment_slots"("id");



ALTER TABLE ONLY "public"."blood_requests"
    ADD CONSTRAINT "blood_requests_hospital_id_fkey" FOREIGN KEY ("hospital_id") REFERENCES "public"."users"("id");



ALTER TABLE ONLY "public"."blood_requests"
    ADD CONSTRAINT "blood_requests_requester_id_fkey" FOREIGN KEY ("requester_id") REFERENCES "public"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."donations"
    ADD CONSTRAINT "donations_donor_id_fkey" FOREIGN KEY ("donor_id") REFERENCES "public"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."donations"
    ADD CONSTRAINT "donations_request_id_fkey" FOREIGN KEY ("request_id") REFERENCES "public"."blood_requests"("id");



ALTER TABLE ONLY "public"."donations"
    ADD CONSTRAINT "donations_verified_by_hospital_id_fkey" FOREIGN KEY ("verified_by_hospital_id") REFERENCES "public"."users"("id");



ALTER TABLE ONLY "public"."donor_responses"
    ADD CONSTRAINT "donor_responses_donor_id_fkey" FOREIGN KEY ("donor_id") REFERENCES "public"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."donor_responses"
    ADD CONSTRAINT "donor_responses_request_id_fkey" FOREIGN KEY ("request_id") REFERENCES "public"."blood_requests"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."hospital_domains"
    ADD CONSTRAINT "hospital_domains_verified_by_fkey" FOREIGN KEY ("verified_by") REFERENCES "public"."users"("id");



ALTER TABLE ONLY "public"."hospital_inventory"
    ADD CONSTRAINT "hospital_inventory_hospital_id_fkey" FOREIGN KEY ("hospital_id") REFERENCES "public"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."hospital_inventory"
    ADD CONSTRAINT "hospital_inventory_updated_by_fkey" FOREIGN KEY ("updated_by") REFERENCES "public"."users"("id");



ALTER TABLE ONLY "public"."inventory_delivery_log"
    ADD CONSTRAINT "inventory_delivery_log_hospital_id_fkey" FOREIGN KEY ("hospital_id") REFERENCES "public"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."inventory_delivery_log"
    ADD CONSTRAINT "inventory_delivery_log_request_id_fkey" FOREIGN KEY ("request_id") REFERENCES "public"."blood_requests"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."medical_records"
    ADD CONSTRAINT "medical_records_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."medical_records"
    ADD CONSTRAINT "medical_records_verified_by_hospital_id_fkey" FOREIGN KEY ("verified_by_hospital_id") REFERENCES "public"."users"("id");



ALTER TABLE ONLY "public"."notifications"
    ADD CONSTRAINT "notifications_request_id_fkey" FOREIGN KEY ("request_id") REFERENCES "public"."blood_requests"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."notifications"
    ADD CONSTRAINT "notifications_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."request_audit_log"
    ADD CONSTRAINT "request_audit_log_actor_user_id_fkey" FOREIGN KEY ("actor_user_id") REFERENCES "public"."users"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."request_audit_log"
    ADD CONSTRAINT "request_audit_log_request_id_fkey" FOREIGN KEY ("request_id") REFERENCES "public"."blood_requests"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."user_badges"
    ADD CONSTRAINT "user_badges_badge_id_fkey" FOREIGN KEY ("badge_id") REFERENCES "public"."badges"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."user_badges"
    ADD CONSTRAINT "user_badges_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."users"
    ADD CONSTRAINT "users_approved_by_fkey" FOREIGN KEY ("approved_by") REFERENCES "public"."users"("id");



GRANT USAGE ON SCHEMA "public" TO "postgres";
GRANT USAGE ON SCHEMA "public" TO "anon";
GRANT USAGE ON SCHEMA "public" TO "authenticated";
GRANT USAGE ON SCHEMA "public" TO "service_role";



GRANT ALL ON FUNCTION "public"."create_appointment_slots"("p_hospital_id" "uuid", "p_start_date" "date", "p_end_date" "date", "p_start_time" time without time zone, "p_end_time" time without time zone, "p_interval_mins" integer) TO "anon";
GRANT ALL ON FUNCTION "public"."create_appointment_slots"("p_hospital_id" "uuid", "p_start_date" "date", "p_end_date" "date", "p_start_time" time without time zone, "p_end_time" time without time zone, "p_interval_mins" integer) TO "authenticated";
GRANT ALL ON FUNCTION "public"."create_appointment_slots"("p_hospital_id" "uuid", "p_start_date" "date", "p_end_date" "date", "p_start_time" time without time zone, "p_end_time" time without time zone, "p_interval_mins" integer) TO "service_role";



GRANT ALL ON FUNCTION "public"."find_nearby_donors"("p_blood_type" "text", "p_location" "extensions"."geography", "p_max_distance_km" integer, "p_limit" integer) TO "anon";
GRANT ALL ON FUNCTION "public"."find_nearby_donors"("p_blood_type" "text", "p_location" "extensions"."geography", "p_max_distance_km" integer, "p_limit" integer) TO "authenticated";
GRANT ALL ON FUNCTION "public"."find_nearby_donors"("p_blood_type" "text", "p_location" "extensions"."geography", "p_max_distance_km" integer, "p_limit" integer) TO "service_role";



GRANT ALL ON FUNCTION "public"."find_nearby_donors"("p_blood_type" character varying, "p_location" "extensions"."geography", "p_max_distance_km" integer, "p_limit" integer) TO "anon";
GRANT ALL ON FUNCTION "public"."find_nearby_donors"("p_blood_type" character varying, "p_location" "extensions"."geography", "p_max_distance_km" integer, "p_limit" integer) TO "authenticated";
GRANT ALL ON FUNCTION "public"."find_nearby_donors"("p_blood_type" character varying, "p_location" "extensions"."geography", "p_max_distance_km" integer, "p_limit" integer) TO "service_role";



GRANT ALL ON FUNCTION "public"."generate_short_request_id"("hospital_code" "text") TO "anon";
GRANT ALL ON FUNCTION "public"."generate_short_request_id"("hospital_code" "text") TO "authenticated";
GRANT ALL ON FUNCTION "public"."generate_short_request_id"("hospital_code" "text") TO "service_role";



GRANT ALL ON FUNCTION "public"."increment_hospital_inventory"("p_hospital_id" "uuid", "p_blood_type" character varying, "p_units" integer) TO "anon";
GRANT ALL ON FUNCTION "public"."increment_hospital_inventory"("p_hospital_id" "uuid", "p_blood_type" character varying, "p_units" integer) TO "authenticated";
GRANT ALL ON FUNCTION "public"."increment_hospital_inventory"("p_hospital_id" "uuid", "p_blood_type" character varying, "p_units" integer) TO "service_role";



GRANT ALL ON FUNCTION "public"."is_hospital_email"("p_email" "text") TO "anon";
GRANT ALL ON FUNCTION "public"."is_hospital_email"("p_email" "text") TO "authenticated";
GRANT ALL ON FUNCTION "public"."is_hospital_email"("p_email" "text") TO "service_role";



GRANT ALL ON FUNCTION "public"."update_donor_status"() TO "anon";
GRANT ALL ON FUNCTION "public"."update_donor_status"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."update_donor_status"() TO "service_role";



GRANT ALL ON FUNCTION "public"."update_slot_count"() TO "anon";
GRANT ALL ON FUNCTION "public"."update_slot_count"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."update_slot_count"() TO "service_role";



GRANT ALL ON FUNCTION "public"."update_updated_at_column"() TO "anon";
GRANT ALL ON FUNCTION "public"."update_updated_at_column"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."update_updated_at_column"() TO "service_role";



GRANT ALL ON FUNCTION "public"."verify_request_donation"("p_request_id" "uuid", "p_hospital_user_id" "uuid", "p_staff_name" "text") TO "anon";
GRANT ALL ON FUNCTION "public"."verify_request_donation"("p_request_id" "uuid", "p_hospital_user_id" "uuid", "p_staff_name" "text") TO "authenticated";
GRANT ALL ON FUNCTION "public"."verify_request_donation"("p_request_id" "uuid", "p_hospital_user_id" "uuid", "p_staff_name" "text") TO "service_role";



GRANT ALL ON TABLE "public"."active_requests_summary" TO "anon";
GRANT ALL ON TABLE "public"."active_requests_summary" TO "authenticated";
GRANT ALL ON TABLE "public"."active_requests_summary" TO "service_role";



GRANT ALL ON TABLE "public"."appointment_slots" TO "anon";
GRANT ALL ON TABLE "public"."appointment_slots" TO "authenticated";
GRANT ALL ON TABLE "public"."appointment_slots" TO "service_role";



GRANT ALL ON TABLE "public"."appointments" TO "anon";
GRANT ALL ON TABLE "public"."appointments" TO "authenticated";
GRANT ALL ON TABLE "public"."appointments" TO "service_role";



GRANT ALL ON TABLE "public"."badges" TO "anon";
GRANT ALL ON TABLE "public"."badges" TO "authenticated";
GRANT ALL ON TABLE "public"."badges" TO "service_role";



GRANT ALL ON TABLE "public"."blood_requests" TO "anon";
GRANT ALL ON TABLE "public"."blood_requests" TO "authenticated";
GRANT ALL ON TABLE "public"."blood_requests" TO "service_role";



GRANT ALL ON TABLE "public"."donations" TO "anon";
GRANT ALL ON TABLE "public"."donations" TO "authenticated";
GRANT ALL ON TABLE "public"."donations" TO "service_role";



GRANT ALL ON TABLE "public"."donor_leaderboard" TO "anon";
GRANT ALL ON TABLE "public"."donor_leaderboard" TO "authenticated";
GRANT ALL ON TABLE "public"."donor_leaderboard" TO "service_role";



GRANT ALL ON TABLE "public"."donor_responses" TO "anon";
GRANT ALL ON TABLE "public"."donor_responses" TO "authenticated";
GRANT ALL ON TABLE "public"."donor_responses" TO "service_role";



GRANT ALL ON TABLE "public"."hospital_domains" TO "anon";
GRANT ALL ON TABLE "public"."hospital_domains" TO "authenticated";
GRANT ALL ON TABLE "public"."hospital_domains" TO "service_role";



GRANT ALL ON TABLE "public"."hospital_inventory" TO "anon";
GRANT ALL ON TABLE "public"."hospital_inventory" TO "authenticated";
GRANT ALL ON TABLE "public"."hospital_inventory" TO "service_role";



GRANT ALL ON TABLE "public"."users" TO "anon";
GRANT ALL ON TABLE "public"."users" TO "authenticated";
GRANT ALL ON TABLE "public"."users" TO "service_role";



GRANT ALL ON TABLE "public"."hospital_inventory_status" TO "anon";
GRANT ALL ON TABLE "public"."hospital_inventory_status" TO "authenticated";
GRANT ALL ON TABLE "public"."hospital_inventory_status" TO "service_role";



GRANT ALL ON TABLE "public"."inventory_delivery_log" TO "anon";
GRANT ALL ON TABLE "public"."inventory_delivery_log" TO "authenticated";
GRANT ALL ON TABLE "public"."inventory_delivery_log" TO "service_role";



GRANT ALL ON TABLE "public"."medical_records" TO "anon";
GRANT ALL ON TABLE "public"."medical_records" TO "authenticated";
GRANT ALL ON TABLE "public"."medical_records" TO "service_role";



GRANT ALL ON TABLE "public"."notifications" TO "anon";
GRANT ALL ON TABLE "public"."notifications" TO "authenticated";
GRANT ALL ON TABLE "public"."notifications" TO "service_role";



GRANT ALL ON TABLE "public"."request_audit_log" TO "anon";
GRANT ALL ON TABLE "public"."request_audit_log" TO "authenticated";
GRANT ALL ON TABLE "public"."request_audit_log" TO "service_role";



GRANT ALL ON TABLE "public"."user_badges" TO "anon";
GRANT ALL ON TABLE "public"."user_badges" TO "authenticated";
GRANT ALL ON TABLE "public"."user_badges" TO "service_role";



ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "service_role";







